@model TaskListVM

<form method="get" asp-action="TaskList" class="row g-2 mb-3">

    <input type="hidden" name="page" value="1" />
    <input type="hidden" name="pageSize" value="@Model.PageSize" />

    <div class="col-md-3">
        <input name="searchTitle"
               value="@Model.SearchTitle"
               class="form-control form-control-sm"
               placeholder="Task title" />
    </div>

    <div class="col-md-2">
        <select name="status" class="form-select form-select-sm">
            <option value="">All Status</option>
            <option value="Pending" selected="@(Model.Status == "Pending")">Pending</option>
            <option value="Completed" selected="@(Model.Status == "Completed")">Completed</option>
        </select>
    </div>

    <div class="col-md-2">
        <button class="btn btn-sm btn-primary">Search</button>
    </div>
    <a href="javascript:void(0)"
       class="btn btn-sm btn-outline-success open-task-modal  col-md-3" data-bs-toggle="modal"
       data-bs-target="#taskModal"
       data-url="@Url.Action("OpenTaskModal", "Home", new { id = 0, mode = "Create" })">
        + Create Task
    </a>
</form>


<!-- Create Button -->


<!-- Table Partial -->
<div id="taskListContainer">
@await Html.PartialAsync("_TaskTable", Model)
</div>

<!-- Modal Host -->
<div id="modalHost"></div>
<!-- Modal Host (Index.cshtml) -->
<div class="modal fade" id="taskModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="taskModalContent">
            @await Html.PartialAsync("_TaskModal", Model)
        </div>
    </div>
</div>


<script>
    $(document).on("click", ".delete-task-btn", function () {
        if (!confirm("Are you sure you want to delete this task?"))
            return;
        var url = $(this).data("url");

        $.ajax({
            url: url,
            type: 'POST',
            success: function (html) {
                $("#taskListContainer").html(html);
            },
              error: function (xhr, status, error) {
        console.log("Status:", status);
        console.log("Error:", error);
        console.log("Response:", xhr.responseText);

        alert("Error: " + xhr.responseText);
    }

        });
    });
</script>

